/* Styling by CSS rule (alphabetical by CSS rule) */
footer, section {
  border: 1px solid lightgray; }

/* Styling by class or element (alphabetical by class/element) */

/* Styling by DOM element (organized by DOM structure) */
#appNav, #boxIcon, #menuIcon {
  display: flex; }

#mainNav {
  display: none; }