/* CSS specific to the app */

/* Styling by CSS rule(s) (alphabetical by CSS rule) */
footer, section {
  border: 1px solid lightgray; }

img[src='img/close.svg'], #mediaList li {
  cursor: pointer; }

/* Styling by classes or element type (alphabetical by class/element) */
#audioPlayer {
  align-self: center; }

img[src='img/close.svg'] {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transform: translate(25%, -25%); }

.mainSection {
  width: 33%; }

#popups > div {
  padding: 1rem; }

/* Styling by DOM elements (organized by DOM structure) */
#corpusSelector {
  background-color: #3F93F9;
  border: 1px solid white;
  color: white;
  padding: 0 0.5rem;
  text-align: center; }

#corpusSelector:hover {
  box-shadow: 0 0 5px 0 white; }

/* Temporary or placeholder styling */
.module {
  margin-top: 1rem; }

.documentsModule,
.lexiconModule,
.orthographiesModule,
.tagsModule {
  border: 1px solid black;
  padding: 0.25rem; }

.documentsModule ul,
.lexiconModule ul,
.mediaModule ul,
.orthographiesModule ul,
.tagsModule ul,
#detailsPane .textsModule ul {
  display: inline-block;
  margin: 0.5rem; }