/* Styling for Danny's app */

/* Styling by CSS rule(s) (alphabetical by CSS rule) */
.media, #mediaList li, #searchField, .titles li {
  -webkit-align-items: center;
  align-items: center; }

.tags, .text header {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

audio, .play, #taggingList .icon {
  -webkit-align-self: center;
  align-self: center; }

.tagCategory { /* Tag category label */
  background-color: rgba(63, 249, 165, 0.25); }

.tags > p, .tagValue {
  background-color: rgba(63, 249, 165, 0.5); }

.phrase {
  background-color: rgba(63, 147, 249, 0.25); }

.phrase > .wrapper > p {
  background-color: transparent; }

.phrase > .wrapper > p:hover {
  background-color: rgba(63, 147, 249, 0.5); }

.phrase > .wrapper > p:focus {
  background-color: rgba(63, 147, 249, 0.5); }

footer, section {
  border: 1px solid lightgray; }

#sideNav a, #toolbarNav a {
  border: none; }

.phrase > .wrapper > p, .tags > p, .tagValue {
  border-radius: 5px; }

.phrase, .tagCategory {
  border-radius: 10px; }

.phrase.selected {
  box-shadow: 0px 0px 5px 0px #3F93F9; }

icon, #mediaList li, #tagsList, #textsList li {
  cursor: pointer; }

.buttons, .media li, #mediaList li, .phrase, #searchField, #taggingList > li, .tags, #tagsList > li > ul, #textsList li, .titles li {
  -webkit-flex-direction: row;
  flex-direction: row; }

#searchBox, #mediaList li p, #taggingList .tags {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.buttons, .tags, #tagsList > li > ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

legend, .tags > p {
  font-weight: bold; }

.tagCategory {
  margin: 0.5rem; }

.tagValue {
  margin: 0.25rem; }
  
.phrase, #taggingList .tags {
  margin-top: 1rem; }

#corpusSelector, #taggingList .tags, .titles {
  padding: 0 0.5rem; }

.phrase > .wrapper > p, .tags > p, .tagValue {
  padding: 0.25rem 0.5rem; }

.tagCategory {
  padding: 0.5rem; }

.phrase, #popups > div {
  padding: 1rem; }

#sideNav, img[src='img/close.svg'], #toolbarNav {
  position: absolute; }

#sideNav, #toolbarNav {
  top: 0; }

/* Styling by classes or element type (alphabetical by class/element) */
.closed {
  max-width: 2.5rem; }

img[src='img/close.svg'] {
  top: 0.5rem;
  right: 0.5rem;
  transform: translate(25%, -25%); }

.mainSection {
  position: relative;
  transition: max-width 1s;
  width: 33%; }

.mainSection.closed .module {
  display: none; }

#mediaList li img {
  height: 2rem; }
  
.open {
  max-width: 100%; }

.phrase > .wrapper {
  width: 100%; }

.play {
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px; }

#sideNav li, #toolbarNav li {
  padding: 0; }

#taggingList > li > .wrapper {
  max-width: 75%;
  min-width: 75%; }

.titles input {
  font-family: 'Gentium Plus';
  font-size: 150%;
  width: 90%; }

#toolbar.closed #toolbarContent {
  display: none; }
  
/* Styling by DOM elements (organized by DOM structure) */
#corpusSelector {
  background-color: #3F93F9;
  border: 1px solid white;
  color: white;
  text-align: center; }

#corpusSelector:hover {
  box-shadow: 0 0 5px 0 white; }

.buttons {
  -webkit-justify-content: center;
  justify-content: center; }

#sideNav {
  left: 0; }

#toolbarNav {
  right: 0; }