/* Styling for Danny's app */

/* Styling by CSS rule(s) (alphabetical by CSS rule) */
.media li {
  align-items: center; }

audio, .play {
  align-self: center; }
  
footer, section {
  border: 1px solid lightgray; }

#sideNav a, #toolbarNav a {
  border: none; }

.phrase:hover {
  box-shadow: 0px 0px 5px 0px #3F93F9; }

#mediaList li, icon, #textsList li {
  cursor: pointer; }

.media li, .phrase, #searchField, #textsList li, .titles li {
  -webkit-flex-direction: row;
  flex-direction: row; }

.phrase {
  margin-top: 1rem; }

#corpusSelector, .titles {
  padding: 0 0.5rem; }

.phrase, #popups > div{
  padding: 1rem; }

#sideNav, img[src='img/close.svg'], #toolbarNav {
  position: absolute; }

#sideNav, #toolbarNav {
  top: 0; }

/* Styling by classes or element type (alphabetical by class/element) */
img[src='img/close.svg'] {
  top: 0.5rem;
  right: 0.5rem;
  transform: translate(25%, -25%); }

legend {
  font-weight: bold; }

.mainSection {
  position: relative;
  max-width: 100%;
  transition: max-width 1s;
  width: 33%; }

.phrase {
  background-color: rgba(63, 147, 249, 0.25);
  border-radius: 10px; }

.play {
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px; }

#sideNav li, #toolbarNav li {
  padding: 0; }

.titles input {
  font-family: 'Gentium Plus';
  font-size: 150%;
  width: 90%; }
  
/* Styling by DOM elements (organized by DOM structure) */
#searchBox {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#searchField, .titles li {
  align-items: center; }

#sideNav {
  left: 0; }

#toolbarNav {
  right: 0; }

#corpusSelector {
  background-color: #3F93F9;
  border: 1px solid white;
  color: white;
  text-align: center; }

#corpusSelector:hover {
  box-shadow: 0 0 5px 0 white; }

#textsDetail header {
  align-items: stretch; }

#textsDetail fieldset {
  border: 1px solid black; }