/* Desktop CSS */
/* Styling by CSS rule (alphabetical by CSS rule) */
footer, footer label, nav > ul, main, #navbar {
  -webkit-flex-direction: row;
  flex-direction: row; }

/* Styling by class or element type (alphabetical by class/element) */
.hideonDesktop {
  display: none; }

img[src='img/close.svg'] {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transform: translate(25%, -25%); }

#popups > div {
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 0px gray;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 20%;
  transform: translateX(-50%); }

/* Styling by DOM (organized by DOM structure) */
section {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#navbar {
  -webkit-align-items: center;
  align-items: center; }

#banner {
  max-width: 300px; }