/* Mobile CSS */
/* Styling by CSS rule (alphabetical by CSS rule) */
#appNav, #mainNav {
  display: none; }

/* Styling by class or element (alphabetical by class/element) */
nav {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

/* Styling by DOM structure (organized by DOM structure) */
#banner {
  width: 100%; }

footer div p {
  text-align: center; }

footer label {
  margin-top: 0.5rem; }

#menuIcon {
  display: flex; }