/* Mobile CSS */
nav {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

nav > ul {
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column; }

#banner {
  width: 100%; }