/* Mobile CSS */
/* Styling by CSS rule (alphabetical by CSS rule) */
#corpusIndicator, #navbar {
  -webkit-flex-direction: row;
  flex-direction: row; }

#corpusIndicator, footer div p {
  text-align: center; }

#banner, #corpusIndicator, .mainSection, #navs {
  width: 100%; }

/* Styling by class or element (alphabetical by class/element) */
nav {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.hideonMobile {
  display: none; }

.icon {
  height: 10rem; }

#popups > div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative; }

/* Styling by DOM structure (organized by DOM structure) */
body {
  font-size: 2.5rem; }

body > header {
  -webkit-order: 1;
  order: 1; }

body main {
  -webkit-order: 3;
  order: 3; }

body footer {
  -webkit-order: 4;
  order: 4; }

body #popups {
  -webkit-order: 2;
  order: 2; }

#navbar {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center; }

#navbar #navIcons {
  -webkit-order: 1;
  order: 1; }

#navbar #navs {
  -webkit-order: 4;
  order: 4; }

#navbar #corpusIndicator {
  font-size: 200%;
  margin: 0.75rem;
  -webkit-order: 3;
  order: 3; }

#navbar #settingsButton {
  -webkit-order: 2;
  order: 2; }

main #toolbar {
  -webkit-order: 1;
  order: 1; }

main #overviewPane {
  -webkit-order: 2;
  order: 2; }

main #detailsPane {
  -webkit-order: 3;
  order: 3; }

footer label {
  margin-top: 0.5rem; }