/* CSS reset */
/* General elements */
html, body, div, span, applet, object, iframe,
/* Headers */
h1, h2, h3, h4, h5, h6,
/* Text elements */
p, blockquote, pre,
/* Inline elements */
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
/* Styling elements */
b, u, i,
/* Lists */
dl, dt, dd, ol, ul, li,
/* Forms & Tables */
button, caption, input, fieldset, form, label, legend, table, textarea, tbody, tfoot, thead, tr, th, td,
/* Semantic elements */
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: none;
  box-sizing: border-box;
  display: flex;
  height: auto;
  flex-direction: column;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  line-height: 150%;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  /* font-family has to be last in this declaration */
  font-family: 'Gentium Plus'; }

/* Styling by CSS rule (alphabetical by CSS rule) */
input[type='radio'] {
  align-self: center; }

a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var {
  display: inline; }

input[type='date'], main, nav > ul {
  flex-direction: row; }

main, section {
  flex-grow: 1; }

h1, header > p {
  font-weight: bold; }

li {
  padding: 0 0.5rem; }

h1, header > p {
  text-align: center; }

img {
  width: 100%; }

/* Styling by classes or element type (alphabetical by class/element) */
a, a:hover, a:visited, a:active {
  background: transparent;
  color: inherit;
  text-decoration: none: }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

code {
  font-family: 'DejaVu Sans Mono';
}

input {
  background-color: lightgray; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table; }
	
tbody {
  display: table-row-group; }

td, th {
  vertical-align: middle; }
	
td {
  display: table-cell; }
	
th {
  display: table-cell;
  text-align: center; }
	
thead {
  display: table-header-group; }
	
tr {
  display: table-row; }

/* Styling by DOM elements (organized by DOM structure) */
body {
  background: white;
  min-height: 100vh; }