/* CSS reset */
/* General elements */
html, body, div, span, applet, object, iframe,
/* Headers */
h1, h2, h3, h4, h5, h6,
/* Text elements */
p, blockquote, pre,
/* Inline elements */
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
/* Styling elements */
b, u, i,
/* Lists */
dl, dt, dd, ol, ul, li,
/* Forms & Tables */
button, caption, input, fieldset, form, label, legend, table, textarea, tbody, tfoot, thead, tr, th, td,
/* Semantic elements */
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: none;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  height: auto;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: 'Fira Sans';
  font-size: 100%;
  font-weight: 300;
  line-height: 150%;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

/* Styling by CSS rule(s) (alphabetical by CSS rule) */
footer label, header {
  -webkit-align-items: center;
  align-items: center; }

nav > ul > li a:hover, .underline {
  border-bottom: 1px solid white; }

a, a:hover, a:visited, a:active {
  color: #3F93F9; }

#navbar, nav a, nav a:hover, nav a:visited, nav a:active {
  color: white; }

#navbar img, #navbar nav ul li {
  cursor: pointer; }

a, abbr, acronym, b, bdo, br, big, button, cite, code, del, dfn, em, i, img, input, ins, kbd, label, map, object, p, q, samp, select, s, small, span, strike, strong, sub, sup, textarea, tt, var {
  display: inline-block; }

input[type='date'], #navIcons {
  -webkit-flex-direction: row;
  flex-direction: row; }

main, #navs {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#corpusIndicator, #menuIcon, nav > ul > li {
  padding: 0.5rem; }

ul.bulletedList li {
  padding: 0.25rem 0; }

h1, h2, main p+p {
  padding-top: 0.5rem; }

h1, h2 {
  font-size: 150%; }

/* Styling by classes or element type (alphabetical by class/element) */
a, a:hover, a:visited, a:active {
  background: transparent;
  text-decoration: none: }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

code {
  font-family: 'DejaVu Sans Mono'; }

input {
  background-color: lightgray; }

input[type='radio'] {
  -webkit-align-self: center;
  align-self: center; }

.mainSection {
  padding: 1rem; }

strong {
  font-weight: 500; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table; }
	
tbody {
  display: table-row-group; }

td, th {
  vertical-align: middle; }
	
td {
  display: table-cell; }
	
th {
  display: table-cell;
  text-align: center; }
	
thead {
  display: table-header-group; }
	
tr {
  display: table-row; }

ul.bulletedList {
  list-style: disc outside none; }

ul.bulletedList li {
  display: list-item;
  margin-left: 1rem; }

/* Styling by DOM elements (organized by DOM structure) */
body {
  background: white;
  min-height: 100vh; }

#navbar {
  background-color: #3F93F9;
  width: 100%; }

#boxIcon, #settingsButton {
  height: 2.5rem; }
  
#menuIcon {
  height: 2rem;
  margin: 0.25rem; }

nav > ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

nav > ul > li > a {
  border-bottom: 1px solid #3F93F9; }

footer {
  font-size: 80%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem 0; }

footer div {
  padding: 0 0.5rem; }

footer img {
  margin: 0 0.5rem; }

/* Temporary or placeholder styling */
.documentsModule,
.lexiconModule,
.mediaModule,
.orthographiesModule,
.tagsModule,
.textsModule {
  border: 1px solid black;
  padding: 0.25rem; }

.documentsModule ul,
.lexiconModule ul,
.mediaModule ul,
.orthographiesModule ul,
.tagsModule ul,
.textsModule ul {
  display: inline-block;
  margin: 0.5rem; }