/* CSS reset */
/* General elements */
html, body, div, span, applet, object, iframe,
/* Headers */
h1, h2, h3, h4, h5, h6,
/* Text elements */
p, blockquote, pre,
/* Inline elements */
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
/* Styling elements */
b, u, i,
/* Lists */
dl, dt, dd, ol, ul, li,
/* Forms & Tables */
button, caption, input, fieldset, form, label, legend, table, textarea, tbody, tfoot, thead, tr, th, td,
/* Semantic elements */
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: none;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  height: auto;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: 'Courier New';
  font-size: 100%;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  /* inherit has to come after font-family in this declaration */
  font: inherit; }

/* Styling by CSS rule(s) (alphabetical by CSS rule) */
a, a:hover, a:visited, a:active {
  color: #3F93F9; }

.plainLink a {
  color: white; }

a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, p, q, s, samp, small, strike, strong, sub, sup, tt, var {
  display: inline; }

footer, footer label, input[type='date'], main {
  -webkit-flex-direction: row;
  flex-direction: row; }

main, section {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

nav > ul > li {
  padding: 0.5rem; }

h1, header > p {
  font-weight: bold; }

h1, header > p {
  text-align: center; }

/* Styling by classes or element type (alphabetical by class/element) */
a, a:hover, a:visited, a:active {
  background: transparent;
  text-decoration: none: }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

code {
  font-family: 'DejaVu Sans Mono'; }

header {
  -webkit-align-items: center;
  align-items: center; }

input {
  background-color: lightgray; }

input[type='radio'] {
  -webkit-align-self: center;
  align-self: center; }

nav {
  background-color: #3F93F9;
  font-family: 'Fira Sans';
  width: 100%; }

nav > ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center; }

nav > ul > li > a {
  border-bottom: 1px solid #3F93F9; }

nav > ul > li > a:hover {
  border-bottom: 1px solid white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table; }
	
tbody {
  display: table-row-group; }

td, th {
  vertical-align: middle; }
	
td {
  display: table-cell; }
	
th {
  display: table-cell;
  text-align: center; }
	
thead {
  display: table-header-group; }
	
tr {
  display: table-row; }

/* Styling by DOM elements (organized by DOM structure) */
body {
  background: white;
  min-height: 100vh; }

footer {
  font-size: 80%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem 0; }

footer label {
  -webkit-align-items: center;
  align-items: center; }

footer div {
  padding: 0 0.5rem; }

footer img {
  margin: 0 0.5rem; }